%br
%br

%div{:class => 'border-title'}
  %h2
    For Employers
    %span


%div{:class => 'column one-fourth'}
  %div{:class => 'ico-content type1'}
    %div{:class => 'icon'}
      %span{:class => 'icon-search'}
    %h5
      %a(href="")
        Browse Through Talent
    %p
      We make it easy to search through screened candidates whom are all qualified using our platform. We also recommend those candidates whom we feel would be the best fit based on skills, industry, etc.
      
%div{:class => 'column one-fourth'}
  %div{:class => 'ico-content type1'}
    %div{:class => 'icon'}
      %span{:class => 'icon-money'}
    %h5
      %a(href="")
        Make an Offer
    %p
      If anyone catches your eye make them an offer. Cut right to the chase and straighforwardly include salary, equity, perks, bonuses, & more.

%div{:class => 'column one-fourth'}
  %div{:class => 'ico-content type1'}
    %div{:class => 'icon'}
      %span{:class => 'icon-phone'}
    %h5
      Interview
    %p
      If candidates are interested in your company and offer, start scheduling interviews. You can use conferencing tools provided through the She's Hired platform to easily host phone or video conference interviews with candiates. We offer you a platform that can handle the entire hiring process.

%div{:class => 'column one-fourth last'}
  %div{:class => 'ico-content type1'}
    %div{:class => 'icon'}
      %span{:class => 'icon-thumbs-up'}
    %h5
      %span{:class => 'highlight', :style => 'background-color: #E67FB9;'}
        Hire!
    %p
      If you've found the right candidate for the job, hire her!!! She's Hired is much more affordable than ordinary recruiters, we only charge a one time fee of 15% of the first years base salary. This fee will be completely refunded if it doesn't work out with the new hire 90 days after the first day on the job.


        
%div{:class => 'hr-invisible-small'}

%div{:class => 'border-title'}
  %h2
    Employer FAQ's
    %span
%div{:class => 'toggle-frame-set faq'}
  %h5{:class => 'toggle-accordion active'}
    Must I hire a candidate after I've submitted an offer?
  %div{:class => 'toggle-content', :style => 'display: block;'}
    %p
      No, all offers are non final. It is recommended that all candidates go through an interviewing process to determine whether or not it will be a right fit.

  %h5{:class => 'toggle-accordion active'}
    Why should I use your recruiting platform?
  %div{:class => 'toggle-content', :style => 'display: block;'}
    %p
      First off, you would only be viewing resumes of qualified candiates who have all been pre-screened thus saving time & money. We always here that "all of the good ones are taken" and that it's very tough to find quality talent... Well on She's Hired, these talented women are looking for new opportunities and ready for a change. Start by submitting a solid offer and inform them on how innovative your company is, your company culture, and more. Sell your story!!! 

  %h5{:class => 'toggle-accordion active'}
    If I offer the most money, will I get the candidate?
  %div{:class => 'toggle-content', :style => 'display: block;'}
    %p
      No, there are several other factors that candidates actually consider. For example, company culture, company vision, location, etc. are all important factors. Many women on She's Hired weigh all of these factors in when deciding with whom to inverview with. So don't just take out your checkbook, let them know how fun, exciting, and innovative it would be to work at your company.
      
  %h5{:class => 'toggle-accordion active'}
    How much do you charge?
  %div{:class => 'toggle-content', :style => 'display: block;'}
    %p
      You will see that She's Hired is cheaper than traditional recruiters. You will receive an invoice for 15% of their 1st year base salary only if you hire someone using our platform. Also, if it doesn't work out and your new hire leaves before 90 days, you get a 100% refund.

  %h5{:class => 'toggle-accordion active'}
    Can I contact candidates outside your platform?
  %div{:class => 'toggle-content', :style => 'display: block;'}
    %p
      No, we provide all the tools necessary to speak with candidates as well as even interviewing them. You can use third party tools to conduct interviews, but at the end of the day if you hire a candidate in which you were connected to using She's Hired you are required to fulfill your invoice of 15% of their 1st year base salary.
    

    
%div{:style => 'text-align: center;'}
  %a{:href => '#register', :class => 'button xlarge pink'}
    Register Now!