%br
%br

%div{:class => 'border-title'}
  %h2
    For Talent
    %span


%div{:class => 'column one-fourth'}
  %div{:class => 'ico-content type1'}
    %div{:class => 'icon'}
      %span{:class => 'icon-edit'}
    %h5
      %a(href="")
        Fill Out 
        %span{:class => 'highlight', :style => 'background-color: #E67FB9;'}
          1
        Application
    %p
      Apply! Submit an application using your LinkedIn account where we will then go through your resume, education, work experience, etc to see if you're ready to be part of the next auction.
      
%div{:class => 'column one-fourth'}
  %div{:class => 'ico-content type1'}
    %div{:class => 'icon'}
      %span{:class => 'icon-money'}
    %h5
      %a(href="")
        Receive
        %span{:class => 'highlight', :style => 'background-color: #E67FB9;'}
          Several
        Offers
    %p
      Once the auction starts, you'll start receiving offers from Fortune 1000 companies and VC backed startups. Here's the cool part... Offers include salary, equity, perks, & signing bonus details!!!

%div{:class => 'column one-fourth'}
  %div{:class => 'ico-content type1'}
    %div{:class => 'icon'}
      %span{:class => 'icon-phone'}
    %h5
      %a(href="")
        Set up
        %span{:class => 'highlight', :style => 'background-color: #E67FB9;'}
          Interviews
    %p
      Accept interviews from companies who have made attractive offers. Also, there is no pressure. You don't need to accept the highest bid or any bid at all. If you like what you see, go ahead and take an interview. See what happens...

%div{:class => 'column one-fourth last'}
  %div{:class => 'ico-content type1'}
    %div{:class => 'icon'}
      %span{:class => 'icon-star'}
    %h5
      %a(href="")
        Land Your
        %span{:class => 'highlight', :style => 'background-color: #E67FB9;'}
          Dream
        Job!
    %p
      She's Hired!!! Start work with your new exciting company and receive a 20% bonus from us because you've earned it!

        
%div{:class => 'hr-invisible-small'}

%div{:class => 'border-title'}
  %h2
    FAQ
    %span
%div{:class => 'toggle-frame-set faq'}
  %h5{:class => 'toggle-accordion active'}
    Will my current employer be able to see me on ShesHired.com?
  %div{:class => 'toggle-content', :style => 'display: block;'}
    %p
      NO, She's Hired will make sure your current employer NEVER sees your profile.

  %h5{:class => 'toggle-accordion active'}
    What are the benefits of using She's Hired?
  %div{:class => 'toggle-content', :style => 'display: block;'}
    %p
      First off, you are basically filling out one application on one site where then multiple high quality employers are able to view your resume. You are able to see monetary offers before going through the entire interviewing process. Bidding wars between companies can arise driving possible salaries northbound :) 

  %h5{:class => 'toggle-accordion active'}
    Do I have to accept an offer? Must I accept the highest offer?
  %div{:class => 'toggle-content', :style => 'display: block;'}
    %p
      No, it's just like receiving any other job offer, you can walk away at any time. Also, you do not have to accept the highest offer.
      
  %h5{:class => 'toggle-accordion active'}
    How do I tell an employer I'm interested in their offer?
  %div{:class => 'toggle-content', :style => 'display: block;'}
    %p
      Simply click "I'm interested" which will then initiate an email introduction between you and the employer at which time you may both an interview.

  %h5{:class => 'toggle-accordion active'}
    She's Hired Bonus???
  %div{:class => 'toggle-content', :style => 'display: block;'}
    %p
      Yea, you're reading it correctly :) We pass on 20% of our service fee which is charged to the employer on to you. You'll be receiving a nice big paycheck your first day on the job!!!
    

    
%div{:style => 'text-align: center;'}
  %a{:href => '#register', :class => 'button xlarge pink'}
    Register Now!